@model Consumo.Web.Cliente.Models.Usuarios
@{
    ViewBag.Title = "Edit";
}

<h2>Modificacion De Datos</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ingresa la Nueva Informacion</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="control-label col-md-2"><b>ID</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.int_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.int_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Status</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.str_status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.str_status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Fecha</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.dat_fecha, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dat_fecha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Nombre</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.str_nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.str_nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Dirección</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.str_direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.str_direccion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Departamento</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.str_departamento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.str_departamento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Teléfono</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.int_telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.int_telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" >
            <input type="submit" value="Grabar" class="btn btn-warning"/>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>

</div>
}

